.features{

padding:120px 8%;

}

.section-title{

text-align:center;

margin-bottom:70px;

}

.section-title span{

color:#8035D6;

font-weight:600;

letter-spacing:1px;

}

.section-title h2{

font-size:48px;

margin-top:20px;

line-height:1.2;

}

.features-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.feature-card{

padding:45px;

border-radius:20px;

background:#fff;

transition:.35s;

border:1px solid #eee;

}

[data-theme="dark"] .feature-card{

background:#181818;

border:1px solid #282828;

}

.feature-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 50px rgba(0,0,0,.08);

}

.feature-card h1{

font-size:64px;

color:#8035D6;

opacity:.15;

margin-bottom:20px;

}

.feature-card h3{

font-size:24px;

margin-bottom:20px;

}

.feature-card p{

line-height:1.8;

opacity:.75;

}

@media(max-width:1100px){

.features-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.features{

padding:80px 6%;

}

.section-title h2{

font-size:34px;

}

.features-grid{

grid-template-columns:1fr;

}

.feature-card{

padding:35px;

}

}